.guest {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;

    details {
        width: 20rem;
        max-width: 20rem;
    }
}

.guest-name {
    font-weight: bold;
}

.state-buttons {
    display: flex;
    justify-content: space-between;
    width: 19rem;
}

.summary-container {
    svg {
        float: right;
        height: 1.5rem;
    }

    .had-unread {
        svg {
            animation: pulse 2s infinite;
        }
    }
}

.summary-pending {
    width: 100%;
}

@keyframes pulse {
    0% {
        color: #fff;
    }

    70% {
        color: #dc3545;
    }

    100% {
        color: #fff;
    }
}
