
.powered-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--background);
    color: var(--text-main) !important;

    p {
        text-align: center;
    }
}

.powered-by:hover {
    text-decoration: none !important;
}
