<div local-class='component' {{did-insert this.updateTime}}>

    <blockquote local-class='{{@message.direction}}'>
        {{@message.content}}
        <footer>
            {{this.displayTime}}
        </footer>
    </blockquote>
</div>
