<p>ClearChat respects your privacy, you can use it anonymously if you wish.</p>
<p>If you give us your email then we will send you the link to manage your room.</p>
<p>Or you can proceed without email and we will show the admin link to you.</p>
<p>Please Choose</p>
<LinkTo @route='claim.admin.email'><button type='button'>Email my link</button></LinkTo>
<LinkTo @route='claim.admin.link'>Proceed without email</LinkTo>
