<p>On the next page you will see the link for your room. You must save it to your bookmarks, you will only be shown it once and it cannot be reset.</p>

<button type='button' {{on 'click' (perform this.claim.claimRoom)}}>Ok I Understand</button>
<LinkTo @route='claim.admin.email'>Actually Email me a link instead</LinkTo>
