.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    section {
        width: 100%;
    }
}

.intro {
    width: 100%;
    font-family: 'Major Mono Display', monospace;
    font-size: 10vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.privacy-policy {
    font-size: smaller;
}

.powered-by-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
