<div local-class='content'>
    <section>
        <div local-class='intro'>
            ClearChat
        </div>
        <p>A free screening room for <Page::Index::Services/></p>

        <p>
            If you're hosting a public video chat then it can attract unwanted attention from troublemakers.<br>
            ClearChat helps you screen your guests by chatting with them <em>before</em> you let them into your chat, meeting or event.
        </p>

        <p>How it works:</p>
        <ol>
            <li>Sign up for your free room below.</li>
            <li>Guests connect and introduce themselves, no accounts or passwords required.</li>
            <li>Chat with the guest to verify them.</li>
            <li>ClearChat shares the details for your chat with the ones you trust.</li>
        </ol>
        <p>Sign up now:</p>
        <Page::Index::Availability/>
    </section>
    <section>
        <p>It looks like this:</p>
        <Page::Index::Gallery/>
    </section>
    <section>
        <div local-class='powered-by-wrap'>
            <PoweredByLineupNinja/>
        </div>
        <p local-class='privacy-policy'><a href='/docs/clearchat_privacy_1_3.pdf' target='_blank'>Privacy Policy</a></p>
        <p><a href='mailto:admin@clearchat.cc'>Contact Us!</a></p>
    </section>
 </div>