<p>
    You are about to claim {{this.claim.roomDomain}}.</p>
<p>
    ClearChat is a free service. To keep costs down, a room expires after 120 days of inactivity.<br>
    To keep your room active just use it once every 120 days.
</p>
<p>Just a couple of quick questions to get going:</p>
<p>When you accept someone what do you want to do:</p>

<LinkTo @route='claim.grant.link'><button type='button'>Direct them to a link</button></LinkTo>
<LinkTo @route='claim.grant.text'><button type='button'>Show joining instructions</button></LinkTo>

<p>You can change this later!</p>
